#list_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.list_image
				= image_tag @list.image.url
			.panel-body
				%h1= @list.title
				%p.description= @list.description
			.panel-footer
				.row
					.col-md-6
						%p.user
						Submitted by 
						= @list.user.email
					.col-md-6
						.btn-group.pull-right
							= link_to "Edit", edit_list_path, class: "btn btn-default"
							= link_to "Delete", list_path, method: :delete, data:  { confirm: "Are you sure?"}, class: "btn btn-default"